.welcome-main {
    margin: 0 auto;

    .title-wrap {
        margin-top: 2%;
        text-align: center;

        .title {
            font-size: 5rem;
            font-family: $subnav-font;
            font-weight: 700;
            color: $endeavour;
        } // end of title

    } // end of title-wrap

    .welcome-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 80vh;

        .white-div {
            background-color: white;
            width: 70%;
            padding: 3%;
            @include box-shadow;

            p {
                width: 100%;
                font-size: 1.5rem;
                font-family: $body-font;
                line-height: 1.9rem;
            }
        }
    }
} // end of welcome-main