.con-main {
    margin: 0 auto;
    height: 90vh;
    // overflow: scroll;

    .title-wrap {
        margin-top: 2%;
        text-align: center;

        h1 {
            font-size: 2rem;
        }

    } // end of title-wrap

    .con-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .con {
            width: 80%;
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 2%;
            border-bottom: 1px solid lightslategray;
            padding-bottom: 3%;

            .con-img {
                width: 30.5%;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;

                .logo {
                    width: 200px;
                    height: 200px;
                } //

                .ztm {
                    ;
                }

            } // end of con-img

            .con-left {
                width: 69.5%;
                text-align: center;

                .title {
                    // width: 30%;
                    font-size: 2rem;
                    font-family: $body-font;
                    padding: 2%;

                } // end of title

                hr {
                    width: 60%;
                }

                .con-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: scroll;

                    .con-para {
                        padding: 3%;
                        width: 90%;
                        font-size: 1.3rem;
                        font-family: $body-font;
                        line-height: 1.5rem;
                        overflow: scroll;
                        height: 300px;

                    } // end of pro-para

                    .con-btns {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-content: center;
                        margin: 2%;
                        padding: 2%;

                        a {
                            width: 25%;
                            background-color: $pro-btns;
                            color: $pro-btn-font-color;
                            font-family: $body-font;
                            font-size: 1rem;
                            border-radius: 20px;
                            padding: 2%;
                            text-decoration: none;

                            &:hover {
                                background-color: $pro-btn-font-color;
                                color: $pro-btns;
                            }
                        }
                    }

                } // end of con-body

            } // end of con-left

        } // end of con

    } // end of con-wrap

} // end of con-main