.con-main {
    margin: 0 auto;

    .title-wrap {
        margin-top: 2%;
        text-align: center;

        h1 {
            font-size: 2rem;
        }

    } // end of title-wrap

} // end of contributions-main