.projects-main {
    margin: 0 auto;

    .title-wrap {
        margin-top: 2%;
        text-align: center;

        .title {
            font-size: 5rem;
            font-family: $subnav-font;
            font-weight: 700;
            color: $endeavour;
        } // end of title

    } // end of title-wrap

} // end of projects-main