.home-main {
    background-color: $home-bg-color;

    .home-wrap {
        display: flex;



        .left {
            // background: #FFF8E3;
            height: 93vh;
            width: 25%;
            display: flex;
            flex-direction: column;

            .img-wrap {
                height: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;

                .img {
                    margin: 5%;
                    // margin-top: 2%;
                    align-self: center;
                    width: 65%;
                    height: 75%;
                    border-radius: 50%;
                    @include box-shadow;
                }

                .social-icons {
                    display: flex;
                    justify-content: space-evenly;

                    img {
                        width: 25;
                        height: 30px;
                    }
                }
            }

            .bottom-left {
                height: 49%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;

                .attribution {
                    padding: 1%;
                }

            } // end of bottom-left

        } // end of left

        .right {
            // background: blue;
            height: 93vh;
            width: 75%;
        } // end of right
    }
}