.home-main {
    background-color: $home-bg-color;

    .home-wrap {
        display: flex;



        .left {
            // background: #FFF8E3;
            height: 93vh;
            width: 25%;
            display: flex;
            flex-direction: column;

            .img-wrap {
                height: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                
                @include small-desktop {
                    margin: 1%;
                }

                .img {
                    margin: 5%;
                    // margin-top: 2%;
                    align-self: center;
                    width: 65%;
                    height: 75%;
                    border-radius: 50%;
                    @include box-shadow;

                    @include small-desktop {
                        margin: 1%;
                        height: 70%;
                        width: 60%;
                    }
                }

                .social-icons {
                    display: flex;
                    justify-content: space-evenly;

                    .link {
                        width: 25px;
                        height: 40px;

                        img {
                            width: 25px;
                            height: 30px;
    
                            
                        }
                    }

                    @include small-desktop {
                        margin: 2%;
                    }
                }

                @include small-desktop {
                    height: 40%;
                }
            }

            .bottom-left {
                height: 49%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;

                .attribution {
                    padding: 1%;
                }

                @include small-desktop {
                    height: 50%;
                    margin-top: 2%;
                }

            } // end of bottom-left

        } // end of left

        .right {
            // background: blue;
            height: 93vh;
            width: 75%;
        } // end of right
    }
}